workflow.json
{"name":"Verificar Link Operadora","nodes":[{"parameters":{"updateType":["message"],"download":false},"name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[200,300],"credentials":{"telegramApi":{"name":"telegram_api"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"text","value":"={{$json[\"message\"][\"text\"]}}"}],"number":[{"name":"chat_id","value":"={{$json[\"message\"][\"chat\"][\"id\"]}}"},{"name":"user_id","value":"={{$json[\"message\"][\"from\"][\"id\"]}}"}]}},"name":"Extract Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[400,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ [123456789, 987654321].includes($json[\"user_id\"]) }}","operation":"equal","value2":true}]}},"name":"Authorized?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,300]},{"parameters":{"operation":"sendMessage","chatId":"={{$node[\"Extract Info\"].json[\"chat_id\"]}}","text":"❌ Você não está autorizado a usar este comando."},"name":"Unauthorized Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[800,100],"credentials":{"telegramApi":{"name":"telegram_api"}}},{"parameters":{"model":"gpt-3.5-turbo","mode":"chat","prompt":"Extraia da mensagem a operadora de internet (ISP) e a localidade. Responda **apenas** em JSON no formato:\\n{\"operator\":\"<isp>\",\"location\":\"<city>\"}\\nMensagem: {{$json[\"text\"]}}","responseFormat":"json"},"name":"AI Agent","type":"n8n-nodes-base.aiAgent","typeVersion":1,"position":[800,300],"credentials":{"openaiApi":{"name":"openai_api"}}},{"parameters":{"functionCode":"const data = JSON.parse(items[0].json.data || items[0].json);\nitems[0].json.operator = data.operator;\nitems[0].json.location = data.location;\nreturn items;"},"name":"Parse AI JSON","type":"n8n-nodes-base.function","typeVersion":1,"position":[1000,300]},{"parameters":{"url":"{{$env[\"ZABBIX_URL\"] || \"http://zabbix.example.com\"}}/api_jsonrpc.php","requestMethod":"POST","jsonParameters":true,"bodyParametersJson":"{\n  \"jsonrpc\":\"2.0\",\n  \"method\":\"user.login\",\n  \"params\":{\n    \"user\":\"{{$env[\"ZABBIX_USER\"]}}\",\n    \"password\":\"{{$env[\"ZABBIX_PASS\"]}}\"\n  },\n  \"id\":1\n}"},"name":"Login Zabbix","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1200,300]},{"parameters":{"url":"{{$env[\"ZABBIX_URL\"] || \"http://zabbix.example.com\"}}/api_jsonrpc.php","requestMethod":"POST","jsonParameters":true,"bodyParametersJson":"{\n  \"jsonrpc\":\"2.0\",\n  \"method\":\"host.get\",\n  \"params\":{\n    \"output\":[\"hostid\",\"name\"],\n    \"search\":{\n      \"name\":\"={{$node[\\\"Parse AI JSON\\\"].json[\\\"operator\\\"]}} {{$node[\\\"Parse AI JSON\\\"].json[\\\"location\\\"]}}\"\n    }\n  },\n  \"auth\":\"={{$node[\\\"Login Zabbix\\\"].json[\\\"result\\\"]}}\",\n  \"id\":2\n}"},"name":"Host Get","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1400,300]},{"parameters":{"url":"{{$env[\"ZABBIX_URL\"] || \"http://zabbix.example.com\"}}/api_jsonrpc.php","requestMethod":"POST","jsonParameters":true,"bodyParametersJson":"{\n  \"jsonrpc\":\"2.0\",\n  \"method\":\"problem.get\",\n  \"params\":{\n    \"output\":\"extend\",\n    \"hostids\":\"={{$node[\\\"Host Get\\\"].json[\\\"result\\\"][0][\\\"hostid\\\"]}}\",\n    \"recent\":true\n  },\n  \"auth\":\"={{$node[\\\"Login Zabbix\\\"].json[\\\"result\\\"]}}\",\n  \"id\":3\n}"},"name":"Problem Get","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1600,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Problem Get\"].json[\"result\"].length === 0}}","operation":"equal","value2":true}]}},"name":"No Problems?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1800,300]},{"parameters":{"operation":"sendMessage","chatId":"={{$node[\"Extract Info\"].json[\"chat_id\"]}}","text":"✅ O link da operadora {{$node[\"Parse AI JSON\"].json[\"operator\"]}} em {{$node[\"Parse AI JSON\"].json[\"location\"]}} está OK."},"name":"OK Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2000,150],"credentials":{"telegramApi":{"name":"telegram_api"}}},{"parameters":{"operation":"sendMessage","chatId":"={{$node[\"Extract Info\"].json[\"chat_id\"]}}","text":"⚠️ Problemas detectados no link {{$node[\"Parse AI JSON\"].json[\"operator\"]}} em {{$node[\"Parse AI JSON\"].json[\"location\"]}}:\\n{{$node[\"Problem Get\"].json[\"result\"].map(p => `• ${p.name}`).join(\"\\n\")}}"},"name":"Problems Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2000,450],"credentials":{"telegramApi":{"name":"telegram_api"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Extract Info","type":"main","index":0}]]},"Extract Info":{"main":[[{"node":"Authorized?","type":"main","index":0}]]},"Authorized?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Unauthorized Reply","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Parse AI JSON","type":"main","index":0}]]},"Parse AI JSON":{"main":[[{"node":"Login Zabbix","type":"main","index":0}]]},"Login Zabbix":{"main":[[{"node":"Host Get","type":"main","index":0}]]},"Host Get":{"main":[[{"node":"Problem Get","type":"main","index":0}]]},"Problem Get":{"main":[[{"node":"No Problems?","type":"main","index":0}]]},"No Problems?":{"main":[[{"node":"OK Reply","type":"main","index":0}],[{"node":"Problems Reply","type":"main","index":0}]]}},"active":false,"settings":{},"version":1}
